p {
  font-color: red;
    font-weight: 30px;
}

ul {
  font-color: red;
  background-color: pink;
}

ol {
  font-color: maroon;
  background-color: orange;
}

h1 {
  font-color: pink;
  background-color: orange;
}
