p {
  color: orange;
    font-weight: 30px;
}

ul {
  color: orange;
  background-color: #DE5D83;
}

ol {
  color: maroon;
  background-color: orange;
}

h1 {
  color: pink;
  background-color: orange;
}

header {
  color: pink;
  background-color: orange;
}

body {
  color: pink;
  background-color: orange;
}

footer {
  color: pink;
  background-color: orange;
}
